.tip{
    background-color: #333;
    height:40px;
}

.topic{
    font-size: 14px;
    line-height: 40px;
    float:left;
    padding-left: 50px;
    color: white;
}

.userInformation{
    font-size: 14px;
    line-height: 40px;
    float:right;
    padding-right: 50px;
    color: white;
}
a{
    color:white;
}
.login{
    margin-right: 20px;
}

.logoName{
    text-align: center;
}
.nav{
    text-align: center;
}
.nav li{
    display:none;
    display:inline;
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
    font-weight: 700;
    margin: 10%;
}